@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}



.card {
  /* position: absolute;
  right: 0; */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 180px;
  margin-bottom: 70px;
}

.card-header {
  background-color: #f0f0f0;
  padding: 3px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.card-body {
  padding: 3px;
  background-color: #ccc;
}

.card-body p {
  margin: 0;
  font-size: 14px;
}
